body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
}
.top-banner {
    grid-column: 1 / 3;
    grid-row: 1;
    height: 80px;
    background-color: #d84627;
    display: flex;
    align-items: center;
}
.top-banner .banner-title {
    margin: 0 30px;
}
.top-banner .banner-title a {
    text-decoration: none;
}
.top-banner .banner-title h1 {
    font-size: 1.2em;
}
@media (min-width: 650px) {
    .top-banner .banner-title h1 {
        font-size: 2em;
    }
}
.top-banner .search-box {
    padding-left: 50px;
}
.top-banner .search-box .ais-search-box .ais-search-box--input {
    font-size: 1.2em;
    padding-left: 25px;
}
.top-banner .search-box .ais-search-box--magnifier {
    margin-top: 4px;
}
.top-banner .search-box .ais-search-box--reset {
    top: 9px;
    right: -20px;
}
.top-banner .algolia-icon-wrap {
    margin-left: 40px;
    top: 2px;
    position: relative;
}

.left-menu {
    grid-column: 1;
    grid-row: 2;
    border-right: 1px solid black;
    padding: 5px;
}
.left-menu h3 {
    margin: 15px 0 7px 15px;
}
.content {
    grid-column: 2;
    grid-row: 2;
    padding: 15px;
    max-width: 960px;
    margin: 0 auto;
}

/* ----- */

.top-banner h1 {
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.facet-box {
    margin: 0 15px;
    padding: 10px;
    border: 1px solid grey;
}

.refinement-hike-type {
    height: 60px;
}
.refinement-accesses {
    height: 80px;
}
.range-slider-distance,
.range-slider-duration,
.range-slider-climbing {
    height: 72px;
}
.refinement-difficulty {
    height: 120px;
}
.refinement-wheelchair {
    height: 80px;
}

/* ========================= HITS ========================= */

.ais-refinement-list--count {
    color: #d84627;
}
.ais-refinement-list--label {
    font-size: 0.9em;
}

.hits .ais-hits {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 25px;
}
@media (min-width: 750px) {
    .hits .ais-hits {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1000px) {
    .hits .ais-hits {
        grid-template-columns: repeat(3, 1fr);
    }
}
.hits .ais-hits .ais-hits--item .one-hit {
    position: relative;
    border: solid 1px #d9d9de;
    border-radius: 10px 10px 0 0;
    max-width: 300px; /* Width of hike main image */
}

/* ------------------------- HIKE-TITLE ------------------------- */
.one-hit .hike-title {
    position: absolute;
    width: 93%;
    padding: 10px;
}
.one-hit .hike-title a {
    text-decoration: none;
}
.one-hit .hike-title h6 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    text-shadow: 2px 2px 2px #111;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ------------------------- HIKE-MAIN-IMAGE ------------------------- */
.one-hit .hike-img img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

/* ------------------------- HIKE-ACCESSES ------------------------- */
.one-hit .accesses {
    position: relative;
    top: -53px;
    padding: 5px;
    height: 0;
}
.one-hit .accesses .access-image {
    width: 40px;
    height: 40px;
}

/* ------------------------- HIKE-INFO ------------------------- */
.one-hit .hike-info {
    display: flex;
    font-size: 0.9em;
    margin-top: -5px;
}
.one-hit .hike-info > div {
    flex: 1;
}
/* ----- Left ----- */
.one-hit .hike-info .hike-info-left {
    padding-left: 15px;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: -4px;
}
.one-hit .hike-info .hike-info-left p {
    margin: 0 0 5px;
}
.one-hit .hike-info .hike-info-left p:last-child {
    margin-bottom: 0;
}
.one-hit .hike-info .hike-info-left .climbing-arrow {
    width: 10px;
    margin-left: 3px;
}
/* ----- Right ----- */
.one-hit .hike-info .hike-info-right {
    text-align: right;
    margin-top: -53px;
    margin-right: 5px;
    z-index: 2;
}
.one-hit .hike-info .hike-info-right .wheelchair-access-image,
.one-hit .hike-info .hike-info-right .difficulty-image {
    top: 25px;
    position: relative;
    width: 25px;
    height: auto;
}
.one-hit .hike-info .hike-info-right .wheelchair-access-image {
    width: 25px;
}
.one-hit .hike-info .hike-info-right .difficulty-image {
    width: 70px;
}
.one-hit .hike-info .hike-info-right .difficulty-label {
    margin-top: 25px;
    font-size: 0.9em;
}

/* ------------------------- HIKE-ELEVATION-IMAGE ------------------------- */
.elevation-image {
    overflow: hidden;
    margin-top: -10px;
}
.elevation-image img {
    max-width: 101%;
    bottom: -13px;
    position: relative;
    left: -2px;
}
