.criteria-line {
    display: flex;
}

.criteria-line > div {
    flex: 1;
}

.facet-box {
    margin: 15px;
    padding: 10px;
    border: 1px solid grey;
}

.hits .ais-hits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px 15px;
}

@media (min-width: 800px) {
    .hits .ais-hits {
        grid-template-columns: repeat(3, 1fr);
    }
}
